# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# IDE
.vscode/
.idea/

# Logs
*.log

# Local configuration
config/config.local.yaml
.env
.env.*

# Secrets
*.pem
*.key
*.crt
config/config.yaml

# OS
.DS_Store
Thumbs.db

# Generated reports
reports/report.html

# Runtime data
config/snapshot_archives/*
!config/snapshot_archives/.gitkeep

config/snapshot_requests/*
!config/snapshot_requests/.gitkeep
